<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-12 col-md mb-4 mb-md-0">
        <h5>{{ TITLE }}</h5>
        <small class="d-block mb-3">&copy; Niiino2025</small>
      </div>

      <div class="col-12 col-md mb-4 mb-md-0">
        <h5>SNS</h5>
        <div class="d-flex justify-content-center justify-content-md-start gap-3">
          <a href="https://www.instagram.com/your_account" target="_blank" class="text-white">
            <i class="fab fa-instagram fs-3"></i>
          </a>
          <a href="https://www.youtube.com/your_channel" target="_blank" class="text-white">
            <i class="fab fa-youtube fs-3"></i>
          </a>
        </div>
      </div>

      <div class="col-12 col-md">
        <h5>サイトについて</h5>
        <ul class="list-unstyled">
          <li><a class="text-white text-decoration-none" href="#">Company</a></li>
          <li><a class="text-white text-decoration-none" href="#">Privacy</a></li>
          <li><a class="text-white text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
