<div class="container w-100 bg-dark text-white py-4" style="max-width: 100%;">
  <div class="row mt-5 mx-5">
    <div class="col-12 col-md">
      <h5>{{ TITLE }}</h5>
      <small class="d-block mb-3">&copy; Niiino2025</small>
    </div>
    <div class="col-6 col-md">
      <h5>S N S</h5>
      <ul class="list-unstyled text-small">
        <li><a href="https://www.instagram.com/your_account" target="_blank" class="text-white text-decoration-none me-3">
            <i class="fab fa-instagram fs-1"></i>
            </a>
            <a href="https://www.youtube.com/your_channel" target="_blank" class="text-white text-decoration-none me-3">
            <i class="fab fa-youtube fs-1"></i> 
            </a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>サイトについて</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-white text-decoration-none me-3" href="#">Company</a></li>
        <li><a class="link-secondary text-white text-decoration-none me-3" href="#">Privacy</a></li>
        <li><a class="link-secondary text-white text-decoration-none me-3" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</div>
